@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

main {
    font-family: 'Roboto Mono', monospace;
}

input {
    display: flex;
    flex-direction: column;
    border-radius: 0.6em;
    height: 3em;
    width: 20em;
}

.formAll {
    margin-left: 15em;
    margin-right: 6em;
    font-size: 30px;
    margin-top: 3em;
}

.choix {
    margin-top: 2em;
}

.form {
    width: 65%;
}

.label {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.grill {
    display: grid;
    grid-area: 1/2/1/1;
}

.liste {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 25%;
}

select {
    width: 44%;
    height: 40px;
    border-radius: 0.6em;
    border: 2px solid rgba(0, 0, 0, 0.85);
}

.button {
    border-radius: 0.8em;
    margin-top: 15px;
    width: 8em;
    height: 2em;
    font-size: 25px;
    cursor: pointer;
    background: #387796;
    color: white;
}

.titre_stagiaire {
    text-align: center;
}

#ajout_stagiaire_grade {
    background: #D9D9D9;
}

#ajout_stagiaire_nom {
    background: #D9D9D9;
}

#ajout_stagiaire_prenom {
    background: #D9D9D9;
}

#ajout_stagiaire_compagnie {
    background: #D9D9D9;
}

#ajout_stagiaire_stage {
    background: #D9D9D9;
    width: 21em;
}