.formLabelInput {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    font-size: 25px;
}

.elementsForm {
    margin-top: 15px;
}


input {
    background-color: rgba(217, 217, 217, 0.37);
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.6em;
    height: 3em;
    width: 20em;
}

.formCentre {
    display: flex;
    justify-content: center;


}

/* boutton validation */

.divBouttonValidation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bouttonValidation {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: #387796;
    border: 1px solid #0082b0;
    color: #F5F5F5;
}

#bouttonConnexion {
    margin-bottom: 30px;
}

/* form ajouter CDS + Promo */

.gridFormAjoutParent {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    font-size: 25px;
    align-items: center;
}

.gridFormAjout1 {
    grid-area: 1 / 1 / 3 / 2;
    margin-right: 80px;
}

.gridFormAjout2 {
    grid-area: 3 / 1 / 5 / 2;
    margin-right: 80px;
}

.gridFormAjout3 {
    grid-area: 5 / 1 / 7 / 2;
    margin-right: 80px;
}

.gridFormAjout4 {
    grid-area: 1 / 2 / 4 / 3;
    margin-left: 80px;
}

.gridFormAjout5 {
    grid-area: 4 / 2 / 7 / 3;
    margin-left: 80px;
}

.gridFormAjout6 {
    grid-area: 8 / 1 / 9 / 3;
    display: flex;
    justify-content: center;
}

/* form date repas */

.gridFormDateRParent {
    height: 55vh;
}

.gridFormDateR1 {
    display: flex;
    flex-direction: column;
}

.gridFormDateR2 {
    display: flex;
    flex-direction: column;

}

.gridFormDateR3 {
    display: flex;
    align-items: center;
    height: 10px;
    margin-top: 50px;

}

/* form mes promotions */

.choixDeroulant {
    display: flex;
    justify-content: center;
    font-size: 15px;
    border-radius: 0.6em;
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.37);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: #F5F5F5;
}