#logoHead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    flex-wrap: nowrap;
}

#minarmHeader {
    height: 120px;
    grid-area: 1 / 1 / 2 / 2;
}

#divCmfp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    grid-area: 1 / 2 / 2 / 4;
}

#cmfp {
    height: 100px;
}

#gridLogoVide {
    grid-area: 1 / 4 / 2 / 5;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #323642;
    height: 70px;
    margin: 0;
}

.gridNavParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    flex: 1 0 auto;
}

.gridNav1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: start;
}

.gridNav2Connecte {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    margin-right: 87px;
}

.gridNav2Deconnecte {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
}

.gridNav3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: end;
}

.elementNav {
    display: flex;
    align-content: center;
    align-items: center;
}

.texteNav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
    margin: 10px;
}

#bonjourCDS {
    margin-left: 20px;
}

#deconnexionIcon {
    height: 30px;
    margin-right: 20px;
    background-color: #387796;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}