main {
    color: #323544;
}

/* H1 */

.gridH1Parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.gridH1Vide1 {
    grid-area: 1 / 1 / 2 / 2;
}

.gridH1 {
    grid-area: 1 / 2 / 2 / 5;
}

.gridH1Vide2 {
    grid-area: 1 / 5 / 2 / 6;
}

/* decompte rationnaire */

#numSemaine {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 200px;
}

.listePromo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.promo {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    background-color: rgba(52, 84, 107, 0.76);
    width: 280px;
}

#aucunePromo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* date repas */

.fleches {
    height: 25px;
    background-color: #387796;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#titreNomPromo {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    text-decoration: none;
    font-size: 25px;
    background-color: rgba(52, 84, 107, 0.31);
    width: 280px;
}

