main {
    color: #323544;
}

/* H1 */

.gridH1Parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.gridH1Vide1 { grid-area: 1 / 1 / 2 / 2; }

.gridH1 {
    grid-area: 1 / 2 / 2 / 5;
}
.gridH1Vide2 { grid-area: 1 / 5 / 2 / 6; }

/* decompte rationnaire */

#numSemaine {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flechesNumSemaine {
    height: 25px;
    background-color: #387796;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 200px;
}