main {
    color: #323544;
}

/* H1 */

.gridH1Parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.gridH1Vide1 { grid-area: 1 / 1 / 2 / 2; }

.gridH1 {
    grid-area: 1 / 2 / 2 / 5;
}
.gridH1Vide2 { grid-area: 1 / 5 / 2 / 6; }