@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#logoHead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    flex-wrap: nowrap;
}

#minarmHeader {
    height: 120px;
    grid-area: 1 / 1 / 2 / 2;
}

#divCmfp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    grid-area: 1 / 2 / 2 / 4;
}

#cmfp {
    height: 100px;
}

#divLogoVide {
    grid-area: 1 / 4 / 2 / 5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #323642;
    height: 70px;
    margin: 0;
}

.elementNav {
    display: flex;
    align-content: center;
    align-items: center;
}

#bonjourCDS {
    color: #F5F5F5;
    font-size: 20px;
    margin-left: 20px;
}

#deconnexionIcon {
    height: 30px;
    margin-right: 20px;
    background-color: #387796;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

#groupElementFooter {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 200px;
}

#divBackgroundEF1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #323642;
}

#divBackgroundEF2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #2A2C38;
}

.nav2 {
    background-color: #1E2128;
}

#divMinarmFooter {
    height: 120px;
    display: flex;
    justify-content: center;
}